<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/reset.css}">
  <link rel="stylesheet" th:href="@{/css/crud.css}">
  <title>Edit</title>
</head>
<body>
<div id="wrapper">
  <form th:action="@{/product/edit}" id="form-crud" method="post"
        enctype="multipart/form-data">
    <h1 class="form-heading">Sửa Thông Tin</h1>

    <div class="form-group">
      <input type="number" class="form-input" name="id" th:value="${product.getId}" placeholder="Enter id..." readonly>
    </div>

    <div class="form-group">
      <label class="form-heading">Ảnh</label>
      <input type="file" name="file" accept="">
    </div>

    <div class="form-group">
      <input type="text" class="form-input" name="name" th:value="${product.getName}" placeholder="Enter Tên...">
    </div>
    <div class="form-group">
      <input type="text" class="form-input" name="description" th:value="${product.getDescription}" placeholder="Mô tả sản phẩm . . .">
    </div>
    <div class="form-group">
      <input type="text" class="form-input" name="createdAt" th:value="${product.getCreatedAt}" placeholder="dd/MM/yyyy . . .">
    </div>
    <div>  <label class="form-label">Loại hàng:</label>
      <select name="category.id">
        <option th:each="c : ${categoryList}" th:value="${c.id}"
                th:text="${c.name}">chọn</option>
      </select>
    </div>
    <div>
      <input type="submit" value="Update" class="form-submit">
    </div>
  </form>
</div>
</body>
</html>