body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('../images/bg1.png');
    background-size: cover;
    background-position-y: -60px;
    font-size: 16px;
}

table {
    width: 90%;
}

table, td, th {
    border: 1px solid #333;
    border-collapse: collapse;
}

th, th {
    padding: 6px 10px;
}

table thead th {
    text-align: left;
}

table.table-dark {
    background: aliceblue;
    color: rgb(255, 255, 255);
    background: rgba(35, 112, 136, 0.8);
}

table.table-hover tbody tr:hover {
    background: #333;
}

table.table-hover tbody tr:nth-child(odd) {
    background: rgba(139, 197, 236, 0.8);
}

tr.next-page {
    background: #ffffff;
}